### Composer ###
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock
yarn.lock

### VisualStudio ###
.idea

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

### php-cs-fixer ###
.php_cs.cache

### git hooks ###
cghooks.lock